<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>cyberme.refresh</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>CyberMe 需要读取健康数据以提供更好的目标管理</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>CyberMe 需要写入健康数据以持久化您的运动成果</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
