<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CyberMe-Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CyberMe-Wuhan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CyberMe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CyberMeRelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CyberMeWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MacLandmarks.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Widget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>195A3D2A28BFA2C600239F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>195A3D3A28BFA2C800239F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>195A3D4428BFA2C800239F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19CE75A028D22D5900AF8AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19CE75F728D23A5F00AF8AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19D2A9EC28D4B4F6009C81C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19FD181428D9CB6C004F97B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19FD182728D9CBB0004F97B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
