<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CyberMe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CyberMeDebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CyberMeRelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CyberMeStatusBar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CyberMeWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CyberMeWatchDebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CyberMeWatchWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CyberMeWatchWidgetExtensionRelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CyberMeWidgetExtensionDebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CyberMeWidgetExtensionRelease.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MacLandmarks.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchMe Watch App (Glance).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>WatchMe Watch App (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>cyberShare.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>watchMeExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>192E141029FE2EE2005468DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>195A3D2A28BFA2C600239F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>195A3D3A28BFA2C800239F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>195A3D4428BFA2C800239F01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>198A83EE2C495B6F002BC107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>198A84002C496998002BC107</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19C5F2982C8C6F8F000EE87B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19CE75A028D22D5900AF8AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19CE75F728D23A5F00AF8AFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19D2A9EC28D4B4F6009C81C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19E9C08929F02FC900B4FFC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19FD181428D9CB6C004F97B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19FD182728D9CBB0004F97B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
